<div>

	<hr>
	<details>
		<Summary style="text-style: italic">Show Comments</Summary>
		<script src="https://giscus.app/client.js"
				data-repo="kianenigma/kianenigma.github.io"
				data-repo-id="R_kgDOKLv3jQ"
				data-category="General"
				data-category-id="DIC_kwDOKLv3jc4ChPIy"
				data-mapping="pathname"
				data-strict="1"
				data-reactions-enabled="1"
				data-emit-metadata="0"
				data-input-position="top"
				data-theme="dark"
				data-lang="en"
				data-loading="lazy"
				crossorigin="anonymous"
				async>
		</script>
	</details>


	<!-- 100% privacy-first analytics -->
	<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
	<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>

	<hr>

	<ul style="font-size: 0.8em;">
		<li>
			Made with <a href="https://github.com/oleeskild/Obsidian-Digital-Garden">💎 Obsidian-Digital-Garden</a>
		</li>
		<li>
			© Kian Paimani <script>document.write(new Date().getFullYear());</script>. Content on this site is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/deed.en">Creative Commons Attribution 4.0 License</a>.
		</li>
		<li>
			<form
				action="https://buttondown.com/api/emails/embed-subscribe/kianenigma"
				method="post"
				target="popupwindow"
				onsubmit="window.open('https://buttondown.com/kianenigma', 'popupwindow')"
				class="embeddable-buttondown-form"
			>
				<input type="email" name="email" id="bd-email" />
				<input type="submit" value="Subscribe" />
			</form>
		</li>
	</ul>

	<hr>

</div>

