body {
	--h1-size: 1.8em !important;
	--h2-size: 1.5em !important;
	--h3-size: 1.25em !important;
}

.content {
	font-size: 1rem;
}

.homepage img {
	border-radius: 100% !important;
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

body .notelink.active-note {
	font-weight: bold;
}

.human-date {
	font-size: 0.8em;
	font-style: bold;
}

.timestamps svg {
	stroke-width: 0.8px;
}


.playlist iframe {
	margin: 10px 0px
}

.playlist div iframe {
	margin: 10px;
}

.toc-container {
	max-height: 100% !important;
}

.navbar-inner {
	margin-left: 15px;
}

#floating-control {
	padding-top: 10px;
	margin-left: 20px;
	font-size: 24px;

	.svg-icon,
	i {
		cursor: pointer;
		height: 24px;
		width: auto;
	}

	#theme-switch {
		.light {
			display: none;
		}

		.dark {
			display: none;
		}

		.auto {
			display: none;
		}
	}

	#theme-switch.light {
		.light {
			display: inline;
		}
	}

	#theme-switch.dark {
		.dark {
			display: inline;
		}
	}

	#theme-switch.auto {
		.auto {
			display: inline;
		}
	}
}
