.homepage img {
	border-radius: 100%;
}

img[alt*="center"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.playlist iframe {
	margin: 10px 0px
}
.playlist div iframe {
	margin: 10px;
}

